/* header style start */
header {
    width: 100vw;
    position: fixed;
    z-index: 1;
    cursor: url(/images/cursor.jpg);
  }
  
/* .header_block{
  position: relative;
} */

  .logo-image {
    padding-top: 20px;
    width: 3rem;
    margin-inline: auto;
  }
  
  .logo,
  .content {
    color: #000000;
  }
  
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    padding-top: 10px;
  }
  
  
  #hamburger {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.25s linear;
    width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
    height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
    display: flex;
    align-items: center;
  }
  
  #hamburger:hover {
    opacity: 1;
  }
  
  #hamburger div:after,
  #hamburger div:before {
    background-color: var(--main-light-color);
    border-radius: 10px;
    width: clamp(1.5rem, 1vw + 1.1rem, 6rem);
    height: clamp(0.2rem, 0vw + 0.1rem, 0.8rem);
    transition: all 0.15s linear;
  }
  
  #hamburger div:before,
  #hamburger div:after {
    content: "";
    position: absolute;
  }
  
  #hamburger div:before {
    transform: translateY(-200%);
  }
  
  #hamburger div:after {
    transform: translateY(200%);
  }
  
  #hamburger.open div {
    background: transparent;
  }
  
  #hamburger.open div:before {
    transform: rotate(45deg);
  }
  
  #hamburger.open div:after {
    transform: rotate(-45deg);
  }
  
  #overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--main-bright-color);
    z-index: 1;
    transform: translateY(-100vh);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #overlay.menu {
    transform: translateY(0%);
  }
  
  #overlay a {
    font-family: 'Cuphead Memphis';
    text-decoration: none;
    color: var(--main-light-color);
    font-size: clamp(1rem, 4.1vw + 0.2rem, 10rem);
    margin: 2%;
    opacity: 0.5;
    transition: opacity 0.2s linear;
  }
  
  #overlay a:hover {
    opacity: 1;
  }

.maname{
  font-size: 15px;
  bottom: 5%;
  position: absolute;
  color: var(--main-dark-color);
}

  /* header style end */
  

  @media (max-width: 1920px) {
    .maname{
      font-size: 25px;
    }
  }

  @media (max-width: 1600px) {
    .logo-image {
      width: 3.3rem;
    }
    .maname{
      font-size: 20px;
    }
  }

  @media (max-width: 1200px) {
    #overlay a {
      font-size: clamp(1rem, 4.5vw + 0.2rem, 10rem);
    }
    .logo-image {
      width: 3rem;
    }
    .maname{
      font-size: 18px;
    }
  }

  @media (max-width: 1000px) {
    #overlay a {
      font-size: clamp(1rem, 5.1vw + 0.2rem, 10rem);
    }
  }

  @media (max-width: 768px) {
    #overlay a {
      font-size: clamp(1rem, 6.5vw + 0.2rem, 10rem);
    }
    .maname{
      font-size: 20px;
    }
  }

  @media (max-width: 480px) {
    #overlay a {
      font-size: clamp(1rem, 7vw + 0.2rem, 10rem);
    }
  }